        .offscreen {
            position: absolute;
            left: -10000px;
        }
        
        .skip-link {
            position: absolute;
            top: -999px;
            left: 0;
            background: $text-shadow-color;
            padding: 14px;
            z-index: 1;
            color: $font-color;
        }
        
        .skip-link:focus,
        .skip-link:active {
            top: auto;
            left: auto;
        }
        
        // .button {
        //     min-width: 48px;
        //     min-height: 48px;
        //     color: $button-textcolor;
        //     border: 2px solid $bordercolor;
        //     border-radius: 80px;
        // }